<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @binder.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @binder.description %>
</p>

<p><strong>Tabs:</strong></p>

    	<%= link_to ('<i class="fa fa-plus" style="display: inline block"></i>&nbsp; New tab').html_safe, new_binder_tab_path(@binder) %><br>

<% @tabs.each do |tab| %>
  <p>
    <strong>Title:</strong>
    <%= tab.title %>
  </p>
 
  <p>
    <strong>Description:</strong>
    <%= tab.description %>
  </p>
<% end %>


<%= link_to ('<i class="fa fa-plus" style="display: inline block"></i>&nbsp; New tab').html_safe, new_binder_tab_path(@binder) %><br>

<%= link_to 'Edit', edit_binder_path(@binder) %> |
<%= link_to 'Back', binders_path %>
