<h1>Listing documents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Document url</th>
      <th>Tab</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.description %></td>
        <td><%= document.document_url %></td>
        <td><%= document.tab %></td>
        <td><%= link_to 'Show', binder_tab_document_path(@binder,@tab,document) %></td>
        <td><%= link_to 'Edit', edit_binder_tab_document_path(@binder,@tab, document) %></td>
        <td><%= link_to 'Destroy', binder_tab_document_path(@binder,@tab,document), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_binder_tab_document_path %>
