<p id="notice"><%= notice %></p>

<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</script>

<style>
iframe{
  width:100%;
}
</style>
<div class="container">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col-xs-5 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<%=render partial: "shared/sidebar_app", locals: {documents: @documents}%>
		</div>
		<!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <h1><%= h @document.title%></h1>
          <div style="width:100%">
          <%= content_tag(:iframe,'', height: 480, src: @document.document_url) %>
          </div>
        </div><!-- /.col-xs-12 main -->
	</div>
</div>
<%= link_to 'Edit', edit_binder_tab_document_path(@binder,@tab,@document) %> |
<%= link_to 'Back', binder_tab_documents_path(@binder,@tab) %>
